@page "/"
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject ILogger<UserSelection> Logger
@inject SalonesService SalonesService


@using Microsoft.AspNetCore.WebUtilities
@using RMSuit_v2.Components.TableComponents
@using RMSuit_v2.Services.Salones;

<PageTitle>Home</PageTitle>

@if (UserName == null)
{
    <p>Por favor, seleccione un camarero.</p>
}
else
{
    <h1>RMSuit</h1>
    <h3>¡Bienvenido, @(UserName)!</h3>

    <div>
        <label for="locationSelect">Seleccione una ubicación:</label>
        <select id="locationSelect" @bind="selectedLocationId">
            <option value="">--Seleccione una opción--</option>
            @foreach (var salon in salones)
            {
                <option value="@salon.salon">@salon.nombre</option>
            }
        </select>
        <button @onclick="NavigateToSelectedLocation">Confirmar</button>
    </div>
}

@code {
    private string? UserName { get; set; }
    private int? selectedLocationId { get; set; }
    private List<Salon> salones = new List<Salon>();


    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(Navigation.Uri);
        var queryParameters = QueryHelpers.ParseQuery(uri.Query);

        if (queryParameters.TryGetValue("user", out var userName))
        {
            UserName = userName;
        }
        else
        {
            // Redirige a la página de selección si no se ha especificado un camarero
            Navigation.NavigateTo("/userselection");
        }

        await LoadSalones();

        await base.OnInitializedAsync();
    }

    private async Task LoadSalones()
    {
        try
        {
            salones = await SalonesService.GetSalons();
            Logger.LogInformation("Salones cargados correctamente.");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error al cargar los salones.");
        }
    }

    private void NavigateToSelectedLocation()
    {
        if (selectedLocationId.HasValue)
        {
            Navigation.NavigateTo($"/salonmapa/{selectedLocationId.Value}");
        }
        else
        {
            Logger.LogError("No seleccionaste ningún salón.");
        }
    }
}
